<!-- Daily Summary -->
<div id="summary-modal" class="modal">
    <div class="modal-content summary">
      <!-- DATE -->
      <h3 id="display-date"></h3>
      <!-- QUESTION ANSWERS -->
      <div id="question-answers">
        <div id="answer-1"></div>
        <div id="answer-2"></div>
        <div id="answer-3"></div>
      </div>
      <!-- COMMENTS -->
      <div id="display-comments-overview"></div>
      <button id="close-btn" class="modal-btn">Close</button>
    </div>
</div>