<!-- NAVIGATION -->
<nav>
  <a class="brand">
    <img
      class="logo"
      src="assets/images/moodsphere.svg"
      alt="Moodsphere Logo"
    />
    <span class="brand-name">Moodsphere</span>
  </a>
  <div id="menu-btn">
    <i class="bars icon"></i>
  </div>
  <div class="menu">
    <a class="nav-item" href="/home">
      Home
    </a>
    <a class="nav-item" href="/newentry">
      New Entry
    </a>
    <a class="nav-item" href="/overview">
      Overview
    </a>
    <a class="nav-item" href="/discover">
      Discover
    </a>
    <a class="nav-item" id="logout-btn" href="/logout">
      Logout
    </a>
  </div>
</nav>

<div id="menu-dropdown" class="fade-in">
  <div class="menu-dropdown-items">
    <a class="nav-item" href="/home">
      Home
    </a>
    <a class="nav-item" href="/newentry">
      New Entry
    </a>
    <a class="nav-item" href="/overview">
      Overview
    </a>
    <a class="nav-item" href="/discover">
      Discover
    </a>
    <a class="nav-item" id="logout-btn" href="/logout">
      Logout
    </a>
  </div>
</div>