<%- include('partials/header') -%>

<%- include('partials/navbar') -%>

<main class="site-content discover-container">
  <section class="discover-section">
    <!-- WATCH: VIDEOS -->
    <h2 class="discover-section-heading"><i class="film icon"></i> Watch</h2>

    <div class="discover-cards watch">
      <a class="discover-card show" id="watch-01" href="https://www.youtube.com/embed/WWloIAQpMcQ">
        <h3 class="discover-heading">How to Cope with Anxiety</h3>
        <hr />
        <p class="discover-text">TED Talk by Olivia Remes</p>
      </a>

      <a class="discover-card" id="watch-02" href="https://youtu.be/85QY_d-8J2M">
        <h3 class="discover-heading">Anxiety: A Cancer of the Mind</h3>
        <hr />
        <p class="discover-text">TED Talk by Aneysha Bhat</p>
      </a>

      <a class="discover-card" id="watch-03" href="https://youtu.be/JUedQ0_EGCQ">
        <h3 class="discover-heading">Living with High Functioning Anxiety</h3>
        <hr />
        <p class="discover-text">TED Talk by Jordan Raskopoulos</p>
      </a>

      <a class="discover-card" id="watch-04" href="https://www.youtube.com/watch?v=khkJkR-ipfw">
        <h3 class="discover-heading">Moving Forward With Grief</h3>
        <hr />
        <p class="discover-text">TED Talk by Nora McInerny</p>
      </a>

      <a class="discover-card" id="watch-05" href="https://www.youtube.com/watch?v=ORs3-tRokGU">
        <h3 class="discover-heading">Treating PTSD</h3>
        <hr />
        <p class="discover-text">Ted Talk by Peter Tuerk</p>
      </a>
    </div>

    <div class="discover-dots">
      <div class="dot" id="watch-dot-01"></div>
      <div class="dot" id="watch-dot-02"></div>
      <div class="dot" id="watch-dot-03"></div>
      <div class="dot" id="watch-dot-04"></div>
      <div class="dot" id="watch-dot-05"></div>
    </div>

  </section>

  <section class="discover-section">
    <!-- LISTEN: MUSIC -->
    <h2 class="discover-section-heading"><i class="headphones icon"></i> Listen</h2>

    <div class="discover-cards listen">
      <a class="discover-card show" id="listen-01" href="https://open.spotify.com/playlist/2EXP6pCDBdF4yRj2LZ6xFr">
        <h3 class="discover-heading">Calming Music Playlist</h3>
        <hr />
        <p class="discover-text">
          A Spotify Playlist full of calming music by Calming Music Academy.
        </p>
      </a>

      <a class="discover-card listen" id="listen-02" href="https://open.spotify.com/show/79GbkgP2sxA8FJ97Qk1GKZ">
        <h3 class="discover-heading">Health Anxiety Podcast Show</h3>
        <hr />
        <p class="discover-text">
          Let Dennis Simsek guide you through the diagnosis, symptoms, and coping strategies for anxiety.
        </p>
      </a>

      <a class="discover-card" id="listen-03" href="https://open.spotify.com/show/6XPm7Mr08nFVWX4Abcqmek">
        <h3 class="discover-heading">Relaxing Tunes</h3>
        <hr />
        <p class="discover-text">
          A Spotify Playlist full of relaxing tunes.
        </p>
      </a>

      <a class="discover-card" id="listen-04" href="https://open.spotify.com/show/6925GqlCoRoCEo8UYy17FQ">
        <h3 class="discover-heading">Love Your Anxiety</h3>
        <hr />
        <p class="discover-text">
          Listen to Emilie Clarke's personal anxiety story and get ideas on how to cope with yours.
        </p>
      </a>

      <a class="discover-card" id="listen-05" href="https://www.youtube.com/watch?v=YFSc7Ck0Ao0">
        <h3 class="discover-heading">Breathing Meditation</h3>
        <hr />
        <p class="discover-text">
          5-minute breathing meditation exercise guided by Diana Winston, UCLA Mindful Awareness Research Center.
        </p>
      </a>
    </div>

    <div class="discover-dots">
      <div class="dot" id="listen-dot-01"></div>
      <div class="dot" id="listen-dot-02"></div>
      <div class="dot" id="listen-dot-03"></div>
      <div class="dot" id="listen-dot-04"></div>
      <div class="dot" id="listen-dot-05"></div>
    </div>

  </section>

  <section class="discover-section">
    <!-- READ: ARTICLES -->
    <h2 class="discover-section-heading"><i class="book icon"></i> Read</h2>

    <div class="discover-cards read">
      <a class="discover-card show" id="read-01" href="https://www.helpguide.org/articles/depression/coping-with-depression.html">
        <h3 class="discover-heading">A Helpful Guide to Depression</h3>
        <hr />
        <p class="discover-text">
          Helpful guide to coping with depression.
        </p>
      </a>

      <a class="discover-card" id="read-02" href="https://adaa.org/tips">
        <h3 class="discover-heading">Tips For Anxiety</h3>
        <hr />
        <p class="discover-text">
          Tips on coping with anxiety.
        </p>
      </a>

      <a class="discover-card" id="read-03" href="https://www.helpguide.org/articles/mental-health/building-better-mental-health.html">
        <h3 class="discover-heading">Building Better Mental Health</h3>
        <hr />
        <p class="discover-text">
          An article about building better mental health for yourself.
        </p>
      </a>

      <a class="discover-card" id="read-04" href="https://www.samhsa.gov/find-help/national-helpline">
        <h3 class="discover-heading">National Helpline</h3>
        <hr />
        <p class="discover-text">
          Substance Abuse and Mental Health Services and Administration national helpline sources.
        </p>
      </a>

      <a class="discover-card" id="read-05" href="https://www.apa.org/helpcenter/grief">
        <h3 class="discover-heading">Coping With Grief</h3>
        <hr />
        <p class="discover-text">
          Lost a loved one? Coping with grief can be hard, we can help.
        </p>
      </a>
    </div>

    <div class="discover-dots">
      <div class="dot" id="read-dot-01"></div>
      <div class="dot" id="read-dot-02"></div>
      <div class="dot" id="read-dot-03"></div>
      <div class="dot" id="read-dot-04"></div>
      <div class="dot" id="read-dot-05"></div>
    </div>

  </section>
</main>

<%- include('partials/footer') -%>