<%- include('partials/header') -%>

<!-- NAVIGATION -->
<div class="ui sticky secondary pointing menu">
    <img
      class="app-logo"
      src="assets/images/moodsphere.svg"
      alt="Moodsphere Logo"
    />
    <p class="ui header item app-name">Moodsphere</p>
</div>

<div class="centered">
    <!-- ERROR MESSAGE -->
    <div class="site-content content">
        <div class="header-container">
            <h2 class="error-quote">Never be discouraged, because every wrong turn attempt, when left behind you, is another step forward taking you closer to your goals.</h2>
            <h4 class="error-author">Thomas A. Edison</h4>
            <hr class="short">
            <div class="new-path">
                <a class="new-path-link" href="/"><i class="arrow alternate circle left outline icon"></i></a>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>