<%- include('partials/header') -%>

<%- include('partials/navbar') -%>

<main class="summary">
    <h3 id="display-date" class="heading"></h3>
    <div id="mood-states" class="ui grid">
      <div class="five column row">
        <div class="column">
          <button
            id="depressed"
            class="mood"
            data-mood="depressed"
            data-color="#5C8B93"
            value="5C8B93"
          ></button>
          <p class="mood-text">
            depressed
          </p>
        </div>
        <div class="column">
          <button
            id="sad"
            class="mood"
            data-mood="sad"
            data-color="#76B3BE"
            value="76B3BE"
          ></button>
          <p class="mood-text">
            sad
          </p>
        </div>
        <div class="column">
          <button
            id="moderate"
            class="mood"
            data-mood="moderate"
            data-color="#8FDAE7"
            value="8FDAE7"
          ></button>
          <p class="mood-text">
            moderate
          </p>
        </div>
        <div class="column">
          <button
            id="happy"
            class="mood"
            data-mood="happy"
            data-color="#A3E0EB"
            value="A3E0EB"
          ></button>
          <p class="mood-text">
            happy
          </p>
        </div>
        <div class="column">
          <button
            id="exhilirated"
            class="mood"
            data-mood="exhilirated"
            data-color="#C1EAF1"
            value="C1EAF1"
          ></button>
          <p class="mood-text">
            exhilirated
          </p>
        </div>
      </div>
    </div>

    <hr />
    <!-- QUESTION ANSWERS -->
    <div id="question-answers">
        <div class="eight wide column questionA-container">
          <div id="questionA" class="question">
            Do you feel hopeless?
          </div>
          <button
            id="answer-1A"
            class="answer-opt-1"
            data-text="I feel hopeless all the time."
            value="Yes, all the time."
          >
            Yes, all the time.
          </button>
          <button
            id="answer-2A"
            class="answer-opt-1"
            data-text="I feel hopeless sometimes."
            value="Yes, sometimes."
          >
            Yes, sometimes.
          </button>
          <button
            id="answer-3A"
            class="answer-opt-1"
            data-text="I feel hopeful."
            value="No."
          >
            No.
          </button>
        </div>
        <div class="eight wide column questionB-container">
          <div id="questionB" class="question">
            Are you getting less sleep than usual?
          </div>
          <button
            id="answer-1B"
            class="answer-opt-2"
            data-text="I have trouble falling asleep."
            value="Yes, I had trouble falling asleep."
          >
            Yes, I had trouble falling asleep.
          </button>
          <button
            id="answer-2B"
            class="answer-opt-2"
            data-text="I keep waking up at night."
            value="Yes, I kept waking up at night."
          >
            Yes, I kept waking up at night.
          </button>
          <button
            id="answer-3B"
            class="answer-opt-2"
            data-text="My sleeping habits are normal."
            value="No, I haven't noticed any differences."
          >
            No, I haven't noticed any differences.
          </button>
        </div>
        <div class="eight wide column questionC-container">
          <div id="questionC" class="question">
            Have you been productive today?
          </div>
          <button
            id="answer-1C"
            class="answer-opt-3"
            data-text="I am productive."
            value="Yes, I have kept myself busy."
          >
            Yes, I have kept myself busy.
          </button>
          <button
            id="answer-2C"
            class="answer-opt-3"
            data-text="I only complete necessary tasks."
            value="I only completed important tasks."
          >
            I only completed important tasks.
          </button>
          <button
            id="answer-3C"
            class="answer-opt-3"
            data-text="I have trouble leaving the house."
            value="No, I don't feel like leaving the house."
          >
            No, I don't feel like leaving the house.
          </button>
        </div>
      </div>
    </div>

    <hr />

    <!-- COMMENTS -->
    <div id="display-comments">
      <div class="ui form">
        <div class="field">
          <h3 class="heading">Additional Comments:</h3>
          <div class="ui grid">
            <div class="wide column">
              <textarea id="userComment"></textarea>
            </div>
          </div>
          <div class="btn-right">
            <form action="/overview" method="POST">
              <button type="submit" id="continue-btn" class="modal-btn">
                Continue
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
</main>

<%- include('partials/footer') -%>