.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  padding: 0 24px;
}

.ui.form {
  width: 100%;
  max-width: 500px;
}

.ui.header {
  color: #7586ac;
  height: 400px;
}

.ui.button {
  background-color: #f9b38d;
}

.ui.button:hover {
  background-color: #9ceaef;
}

.ui.segment {
  background-color: #353e63;
  border-radius: 0.8rem;
}

.ui.input {
  color: #f9b38d;
}

.image {
  border-radius: 50%;
  margin-top: -100px;
  width: 300px !important;
}

.column {
  max-width: 450px;
}

.login-logo-div {
  text-align: center;
  line-height: 3rem;
  margin-bottom: 2rem;
  max-width: 500px;
}

.login-logo {
  display: inline-block;
  height: 3rem;
  weight: 3rem;
}

.login-heading {
  color: #61afbd;
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  margin-left: 2rem;
}

.message {
  background-color: transparent;
  color: #ffffff;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  text-align: center;
}

.divider-line {
  color: #61afbd;
  font-weight: 800;
  margin: 0 1.5rem;
}
.copyright {
  color: #61afbd;
  font-size: 0.8rem;
  margin: 1rem auto 1.5rem;
}
.login-link {
  color: #f9b38d;
  font-size: 2rem;
  font-weight: 800;
}
.message-item {
  text-align: left;
}
.message-item:first-child {
  margin-bottom: 2rem;
}
.message-link {
  color: #f9b38d;
  cursor: pointer;
  margin-left: 0.5rem;
}
.message-link:hover {
  color: #f9b38d;
  font-weight: bold;
}

.footer {
  background-color: #ffffff;
  height: 6.5rem;
  margin-top: 4rem;
  width: 100%;
}

a.item {
  color: #61afbd;
}

@media only screen and (min-width: 450px) {
  .login-logo-div {
    line-height: 4rem;
  }

  .login-logo {
    height: 4rem;
    weight: 4rem;
  }

  .login-heading {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media only screen and (min-width: 600px) {
  .login-logo-div {
    line-height: 5rem;
  }

  .login-logo {
    height: 5rem;
    weight: 5rem;
  }

  .login-heading {
    font-size: 5rem;
    line-height: 5rem;
  }

  .message, .message-link {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 900px) {
  .ui.form {
    width: 500px;
  }
}